* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    width: calc(100% / 5);
    height: 100px;
    margin: 10px;
    background-color: lightcoral;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 30px;
}

.buzz{
    background-color: greenyellow;
}

.fizz{
    background-color: yellow;
}

.fizzbuzz{
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: 5rem;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}